<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="/static/CSS1/admin.css">

  
  </head>
  <body id="body-pd">
    <header class="header border-bottom" id="header">
      <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <!-- <div class="header_img"> -->
       <div>
        <!-- <img src="https://i.imgur.com/hczKIze.jpg" alt="" /> -->
        <h4 class="text-primary">Admin</h4>
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="/admin" class="nav_logo">
            <i class="bx bx-layer nav_logo-icon"></i>
            <span class="nav_logo-name">IUBAT_CPC</span>
          </a>
          <div class="nav_list">
            <a href="/adminProblem" class="nav_link active">
              <i class="bx bx-grid-alt nav_icon"></i>
              <span class="nav_name">Problem</span>
            </a>
            <a href="/adminInstructor" class="nav_link">
              <i class="bx bx-user nav_icon"></i>
              <span class="nav_name">instructor</span>
            </a>
            <a href="/adminCurrentMember" class="nav_link">
              <i class="bx bx-message-square-detail nav_icon"></i>
              <span class="nav_name">current member</span>
            </a>
            <a href="/adminSeniorMember" class="nav_link">
              <i class="bx bx-bookmark nav_icon"></i>
              <span class="nav_name">Senior member</span>
            </a>
          
            <a href="/adminNotice" class="nav_link">
              <i class="bx bx-folder nav_icon"></i>
              <span class="nav_name">Notice</span>
            </a>
            <a href="/adminEvent" class="nav_link">
              <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
              <span class="nav_name">Event</span>
            </a>
          </div>
        </div>
        <a href="/adminSignOut" class="nav_link">
          <i class="bx bx-log-out nav_icon"></i>
          <span class="nav_name">SignOut</span>
        </a>
      </nav>
    </div>
   

       
        <!--Container Main start-->
        <div class=" bg-light">

            <div class="d-flex p-2 justify-content-lg-between flex-wrap mt-5 text-justify">
                <div class="w-75 p-3 mx-auto">
                    <h5><b><%- problem.pid %> <%- problem.name %></b></h5>
                      <%- problem.statement %>
                    <br/>
                    <br/>
                    <h5><b>Input</b></h5>
                    <%- problem.inputs %>
                    <br/>
                    <h5><b>Output</b></h5>
                      <%- problem.outputs %>
                    <br/>
                    <br />
                    <h5><b>Test Case</b></h5>
                    
                    <p><b>Input:</b></p>
                      <%- problem.input %>
        
                    <p><b>Output:</b></p>
                    <%- problem.output %>
        
                </div>
               
            </div>
        </div>
        <!--Container Main end-->
    


    <script src="/static/Js/admin.js"></script>

    

    
  </body>
</html>
