<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->


</head>
<body style="background-color:#9F9F9F;">

    <div class="mx-auto">
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light pl-2 pr-2"
          style="background-color: #e3f2fd"
        >
          <a class="navbar-brand text-primary" href="#">IUBAT_CPC</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/problem"
                  >Problems</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ranking"
                  >Ranking</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/notice"
                  >Notice</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event">Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/member"
                  >Members</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seniors"
                  >Seniors</a
                >
              </li>
              
            </ul>
            <span>
              <% if(isAuth){%>
                <a class="text-secondary mt-2" href="/profile">profile</a>
               <a class=" m-3 btn btn-primary" href="/logout">Logout</a>
              <%}else{%>
                <a class="text-secondary mr-4" href="/register">Reg</a>
               <a class="text-secondary mt-4" href="/login">Login</a>
              <%}%>
             
            </span>
          </div>
        </nav>
      </div>

      <section class="container pt-5 d-flex " >
        <div class="mr-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/img/pro.jpg" style="height: 200px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center"><%=data.username%></h5>
                  <p class="card-text text-center">Programmer</p>
                 
                </div>
                
                <div class="card-body ">
                    <div class="d-flex align-items-center">
                    <a class="btn btn-outline-primary ms-4 " href="#" role="button">Follow</a>
                    <button class="btn btn-outline-primary ms-3" type="submit">Message</button>
                    </div>
                </div>
              </div>
        </div>
        <div class="ms-5">
            <form   class="form row g-3 bg-light p-3 rounded">
                <table style="width: 100%;" class="table">
                    
                    <tbody>
                      <tr>
                        <th scope="row">Full Name</th>
                        <td class="table-active"><%= data.username %></td><hr>
                      </tr>
                      <tr>
                        <th scope="row">Email</th>
                        <td ><%= data.username %>@gmail.com</td>
                      </tr>
                      <tr>
                        <th scope="row">Phone</th>
                        <td class="table-active">01704725466</td>
                      </tr>
                      
                      <tr>
                        <th scope="row">Address</th>
                        <td  >Dhaka</td>
                      </tr>
                    </tbody>
                  </table>
                <div>
                  <button type="submit" class="btn btn-primary">Edit</button>
                </div>
              </form>
              <div class="mt-3">
                <table style="width: 100%;" class="table">
                    
                    <tbody>
                      <tr>
                        <th scope="row"class="fs-3 fw-bold">Solved Problem</th>
                        <td  class="table-light fs-3 fw-bold"><%=data.cntac %>/200</td>
                      </tr>
                    </tbody>
                  </table>
                <div class="progress mt-3">  
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: <%= data.cntac %>%;" aria-valuenow="<%= data.cntac %>" aria-valuemin="0" aria-valuemax="200"><%= data.cntac %>%</div>
                  </div>
              </div>
        </div>
    </section>




   

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
</body>
</html>